################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LINQ_Examples/obj/Debug
/.vs/LINQ_Examples/v15/Server/sqlite3
/.vs/LINQ_Examples/v15
